@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-50: #f5f3ff;
  --color-brand-100: #ede9fe;
  --color-brand-500: #8b5cf6;
  --color-brand-600: #7c3aed;
}

@custom-variant dark (&:is(.dark *));

@plugin "@tailwindcss/typography";

@layer base {
  html,
  body {
    @apply h-full w-full m-0 p-0;
  }
}
